# Port to access GraphDB in your local environment
GRAPHDB_PORT=7200

# Optional Java options for tuning (memory etc.)
GRAPHDB_JAVA_OPTIONS=-Xms2g -Xmx4g

# Host directory for persistent GraphDB data (edit to your local path)
GRAPHDB_DATA_DIR=/PATH_TO_GRAPHDB/graphdb-data
GRAPHDB_USER_PROPERTIES=/PATH_TO_GRAPHDB/USER.PROPERTIES